
<!-- Used for editing a mission -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='mission_style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='missions.js') }}" defer></script>
    <!-- <link rel="stylesheet" href="../static/mission_style.css"> -->
    <!-- <script type="text/javascript" src="../static/missions.js" defer></script> -->
    <title>Edit Mission</title>
</head>
<body>

    <div id="topbar">
        <a id="backbutton" href="javascript: history.back()">< Back</a>
    </div>
    
    <form id="missioncontent">
        <h1 class="title">Edit Mission</h1>
        <div class="labelandinput">
            <p class="label">Mission Title</p>
            <input class="input" type="text" value="Mission Name" size="66">
        </div>

        <div class="labelandinput">
            <p class="label">Mission Description</p>
            <textarea class="input" type="textarea" cols="65" rows="10">Mission Description</textarea>
        </div>

        <input id="updatebutton" type="submit" value="Update">
    </form>

    
</body>
</html>