<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/mission_style.css">
    <title>Missions</title>
</head>

<body>
    <div id="topbar">
        <a href="missions_t2.html" id="backbutton">< Back</a>
        <div id="tierselect">
            <a href="missions_t1.html" class="tierbutton" id="tier1">Tier 1</a>
            <a href="missions_t3.html" class="tierbutton" id="tier2">Tier 2</a>
            <a href="missions_t3.html" class="tierbutton" id="tier3">Tier 3</a>
        </div>
        <div id="totals">
            <div id="missiontotal">
                <img src="" alt="Trophy Icon">
                <p class="missionsum">2/6</p>
            </div>
            <div id="missiontotal">
                <img src="" alt="Trophy Icon">
                <p class="missionsum">2/6</p>
            </div>
        </div>
    </div>

</body>
</html>